.animal_img {
  /* height: 400px; */
  width: 500px;
  border-radius: 9px;
  box-shadow: -5px 5px 10px #191919, 5px -5px 10px #292929;
}
.animal_img:hover {
  border-radius: 15%;
  /* zoom: 102%; */
  transition: transform 0.15s ease;
  transform: scale(1.4);
  box-shadow: -5px 5px 10px #e4c5c5, 5px -5px 10px #877a7a;
}
.animals {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.animal_name {
  position: relative;
  top: -100px;
  left: 30%;
  text-align: center;
  color: aliceblue;
  text-decoration: none;
  background-color: black;
  width: 200px;
  font-size: 25px;
}

.animal_button {
  border: none;
  padding: 5px;
  font-size: 20px;
  font-family: inherit;
  background-blend-mode: multiply;
  color: rgb(177, 164, 147);
  border-radius: 9px;
  background: linear-gradient(225deg, #343333, #716f6f);
  box-shadow: -5px 5px 10px #191919, 5px -5px 10px #292929;
  margin: 10px;
  height: 30px;
}
