.donate_list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.donate {
  border: 2px solid rebeccapurple;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.donate_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.donate_details {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
}
.donate_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
Link {
  text-decoration: none;
}
